<%= simple_form_for(@status, html: {class: "form-horizontal"}) do |f| %>
  <% if @status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% @status.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <label style="position:relative; right:150px">
      <%= f.input :content, :label => '', :input_html => {:maxlength => 500, :style => 'width: 900px'} %>
    </label>
  </div>
  <div class="form-actions">
    <div class="pull-right">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
